<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/main.css" />
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h2>Quotes</h2>
    <!-- <ul class="postGarbage">
            <% for(var i = 0; i < garbage.length; i++) {%>
            <li class="quote">
                <span><%= garbage[i].name %></span>
                <span><%= garbage[i].materials %></span>
                <span><%= garbage[i].classification %></span>
                <span><%= garbage[i].instructions %></span>
                <span><%= garbage[i].contact %></span>
            </li>
            <% } %>
        </ul> -->

    <section>
      <label for="name"> Name: </label>
      <input id="name" />
      <ul id="test"></ul>
    </section>
    <script src="/main.js"></script>
  </body>
</html>
